
/*ESTILOS DEL MENU*/
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li button:hover {
    background-color: purple;
}

/*ESTILOS DEL PANEL DE DINERO*/
.paneldinero {
    position: absolute;
    top: 10px;
    left: 50%;
    font: bold 1.5em sans-serif;
    color: #020202;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*ESTILO DE LAS PREGUNTAS*/
#pregunta {
    width: 99%;
    position: absolute;
    top: 60px;
    border-radius: 5px;
    background: #9C27B0;
    font: bold 2em sans-serif;
    color: #FFFFFF;
    text-align: center;
}

/*ESTILO DE LAS RESPUESTAS*/
.respuesta{
    position:absolute;
    width:40%;
    font: bold 2em sans-serif;
    color:#000000;
}


/*RESPUESTAS DE LA IZQUIERDA DE LA PANTALLA*/
.respuestaIzquierda {
    left: 1%;
    border-right: 4px solid #000000;
    border-left: 4px solid #000000;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/*RESPUESTAS DE LA DERECHA DE LA PANTALLA*/
.respuestaDerecha {
    right: 1%;
    border-right: 4px solid #000000;
    border-left: 4px solid #000000;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align:left;
}

/*DISTANCIA DE ENTRE LAS RESPUESTAS VERTICALMENTE*/
#respuesta1, #respuesta2 {
    bottom: 76%;
}
#respuesta3, #respuesta4 {
    bottom: 65%;
}

#respuestaSeleccionada{
    position: absolute;
    top: 40%;
}